<div>
  <%# necessario alterar para avatares especificos %>
  <%= image_tag "https://res.cloudinary.com/dfetf2wc4/image/upload/v1692791191/avatar_margarida_etq8dy.png" %>
  <div class="dashboard-username-edit">

  </div>

  <div class="dashboard-user-details">
    <h3><%= current_user.username %></h3>
    <p><%= current_user.email %></p>
  </div>

  <form action="">
    <input data-controller="datepicker" type="string" name="day-rent" class="form-control d-none">
  </form>
</div>
