.main-container-show {
  display: flex;
  flex-direction: column;
  margin: 50px 250px;
}

.header-product-show {
  margin-bottom: 30px;

  h1 {
    font-family: 'Poppins', sans-serif;
  }
}

// PRODUCT DESCRIPTION STYLING


.description-product-container {
  display: flex;
}

.cont {
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

// LEFT CONTAINER || PRODUCT INFO

.left-container {
  width: 65%;
  // margin-right: 20px;
}

.image-product {
  margin-bottom: 20px;

  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.info-product {
  padding: 20px;
  background-color: #eee7fa;
  font-size: 18px;

  p {
    margin-bottom: 0;
  }
}

// RIGHT CONTAINER || FORMS

.right-container {
  width: 35%;
  margin-left: 30px;
}

.nice-phrase {
  padding: 10px;
  margin-bottom: 10px;

  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 0;
    background: linear-gradient(137deg, rgba(102, 16, 242, 1) 0%, rgba(212, 66, 59, 1) 57.62%, rgba(230, 15, 5, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
  }
}

.schedule-form {

  padding: 20px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 50px;
  color: whitesmoke;
  background: linear-gradient(137deg, rgba(102, 16, 242, 0.7) 0%, rgba(212, 66, 59, 0.7) 57.62%, rgba(230, 15, 5, 0.7) 100%) !important;

  .product-price {
    border-radius: 10px;
    background-color: #eee7fa;
    color: #515151;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// REVIEWS

.reviews-container {
  margin-top: 20px;
  height: 30vh;
}
