<div class="dashboard-all user-dashboard">

  <div class="dashboard-bookings-user">
    <% if Booking.where(user_id: current_user.id).empty? %>
      <div>
        <h2>You don't have bookings yet!</h2>
        <%= link_to 'Make a Booking', products_path, class:"btn btn-secondary" %>
      </div>
    <% else %>
      <div>
        <%= render "dashboard_bookings", objects: @bookings %>
      </div>
    <% end %>
  </div>

  <div class="dashboard-user-container">
    <%= render "components/profile_dashboard" %>
  </div>

</div>
