<div class="dashboard-all">

  <div>
    <%= render "components/dashboard", objects: @bookings %>
  </div>

  <div class="dashboard-user-container">
    <%= render "components/profile_dashboard" %>
  </div>

</div>
