<div class="d-flex justify-content-between px-3 py-2">

  <div class="d-flex justify-content-between logo-letruc">
    <%= image_tag "logo.svg", alt: "Le Wagon", width: 65 %>
    <h1>Le Truc</h1>
  </div>

  <div class="d-flex justify-content-between gap-2 py-2">
    <%= link_to "Sign up", new_user_registration_path, class:"d-flex align-items-center btn-signup text-decoration-none" %>
    <%= link_to "Sign in", user_session_path, class:"d-flex align-items-center btn-signin text-decoration-none " %>
  </div>
</div>

<div class="d-flex align-items-center">
  <div class="col padding-land-text">
    <%= render "components/landing", mudar: "span"%>
  </div>

  <div class="col div-land">
    <div class=" div-img-land"></div>
  </div>
</div>
