.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #ECEAFF;
  margin-bottom: 0.6rem;
  width: 200px;
}

.tag-selector:checked + label {
  background-color: $red;
  border: 1px solid $red;
  color: white;
}
