.landing-information {

  gap: 20px;

  h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 80px;
    padding-bottom: 40px;
  }

  h1 span {
    background-image: linear-gradient(to bottom, #6610F2, #D4423B, #E60F05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
  }
}

.div-land{
  width: 1030px;
  height:100vh;

}

.div-img-land{
  margin-top: 40px;
  background-image: url(capaland.png);
  height:100vh;
  background-size: contain;
  background-repeat: no-repeat;

}




.padding-land-text{
  padding-bottom: 161px;
}
