.pill-category {
  padding: 6px;
  background: $blue;
  color: white;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;

  p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    margin-left: 3px;
  }
}
