.index-container {
  margin: 100px;
}

.icons-container {
  display: flex;
  justify-content: center;
  color: white;
  gap: 10px;
  margin-bottom: 30px;
}

.product-card-container {
  display: flex;
}
