// Index
.index-container {
  h6 {
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 50px;
  }
}
.icons-container {
  display: flex;
  justify-content: center;
  color: white;
  gap: 20px;
  margin: 20px 0 50px 0;
}

.container-grid {
  margin: 0 150px 50px 150px;
}

.row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 25px;
}

.col-grid {
  display: flex;
}

// Dashboard
.dashboard-container {
  display: flex;
}

.dashboard-user-container {
  align-items: center;
  margin-bottom: 100px;
  text-align: center;
  gap: 20px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0px;

  h3 {
    margin-bottom: 10px;
    font-family:'Poppins', sans-serif;
    color: $red;
  }

  p{
    margin: 0;
    font-family: 'Inter', sans-serif;
  }


  img {
    border-radius: 50%;
    background-color: $white;
    width: 120px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
}


.dashboard-products-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;

  h5 {
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    color: $red;
  }
}

.dashboard-all {
  display: flex;
  gap: 50px;
  flex-grow: 1;
  justify-content: center;
}
