<% if product.category == 'leisure' %>
  <i class="fa-solid fa-table-tennis-paddle-ball pill-category"> <p>Leisure</p></i>
<% elsif product.category == 'lunch' %>
  <i class="fa-solid fa-utensils pill-category"> Lunch</i>
<% else %>
  <i class="fa-solid fa-laptop-code pill-category"> Work</i>
<% end %>
