<% if product.category == 'leisure' %>
<<<<<<< HEAD
  <div class="pill-category">
    <i class="fa-solid fa-table-tennis-paddle-ball"></i>
    <p>Leisure</p>
  </div>
<% elsif product.category == 'lunch' %>
  <div class="pill-category">
    <i class="fa-solid fa-utensils pill-category"></i>
    <p>Lunch</p>
  </div>
<% else %>
  <div class="pill-category">
    <i class="fa-solid fa-laptop-code pill-category"></i>
    <p>Work</p>
  </div>
=======
  <i class="fa-solid fa-table-tennis-paddle-ball pill-category"> <p>Leisure</p></i>
<% elsif product.category == 'lunch' %>
  <i class="fa-solid fa-utensils pill-category"> Lunch</i>
<% else %>
  <i class="fa-solid fa-laptop-code pill-category"> Work</i>
>>>>>>> 1d28f6a08c2176ff43940e3c1ae749d22bb88661
<% end %>
