<div class="dashboard-container">

  <div class="dashboard-all">

    <div class="dashboard-boxes">
      <%= render "dashboard_products", objects: @products %>
    </div>

    <div class="dashboard-boxes">

      <% @bookings = Booking.all %>
      <% if @bookings.empty? %>
        <div>
          <h2>There is no bookings yet...</h2>
        </div>
      <% else %>
        <%= render "bookings/dashboard_bookings", objects: @bookings %>
      <% end %>
    </div>
    
    <div class="dashboard-user-container">
      <%= render "components/profile_dashboard" %>
    </div>

  </div>


</div>
