<div class="dashboard-container">

  <div class="">
    <p><%= current_user.username %></p>
  </div>

  <div>

    <div class="dashboard-products-container">
      <h5>Products</h5>
      <%= link_to "Add a product", new_product_path, class:"btn btn-red" %>
    </div>
    <div>
      <%# each do %>
    </div>

  </div>

</div>
