<div class="dashboard-container m-5">

  <div class="dashboard-all">

    <div>
      <%= render "components/dashboard", objects: @products %>
    </div>

    <div>
      <%# @bookings = Booking.all %>
      <%# if @bookings.empty? %>
        <%# <div>
          <h2>There is no bookings yet...</h2>
        </div> %>
      <%# else %>
        <%#= render "components/dashboard", objects: @bookings %>
      <%# end %>

      <%= render "components/dashboard", objects: @bookings %>
    </div>

  </div>

  <div class="dashboard-user-container">
    <%= render "components/profile_dashboard" %>
  </div>

</div>
