<div class="dashboard-container m-5">

  <div class="dashboard-all">

    <div>
      <%= render "dashboard_products", objects: @products %>
    </div>

    <div>
      <%# VER LOGICA DO RENDER DOS PRODUCTS E OS BOOKINGS %>

      <% @bookings = Booking.all %>
      <% if @bookings.empty? %>
        <div>
          <h2>There is no bookings yet...</h2>
        </div>
      <% else %>
        <%= render "bookings/dashboard_bookings", objects: @bookings %>
      <% end %>
    </div>

  </div>

  <div class="dashboard-user-container">
    <%= render "components/profile_dashboard" %>
  </div>

</div>
