<div class="index-container">
<h6>Browse by category</h6>
  <div class="icons-container">
      <div class="icon-card activer">
        <i class="fa-solid fa-border-all fa-2xl"></i>
        <p>All</p>
      </div>
      <div class="icon-card">
        <i class="fa-solid fa-table-tennis-paddle-ball fa-2xl"></i>
        <p>Leisure</p>
      </div>
      <div class="icon-card">
        <i class="fa-solid fa-utensils fa-2xl"></i>
        <p>Lunch</p>
      </div>
      <div class="icon-card">
        <i class="fa-solid fa-laptop-code fa-2xl"></i>
        <p>Work</p>
      </div>
  </div>

  <div class="container-grid">
    <div class="row-grid">
      <% @products.each do |product| %>
        <div class="col-grid">
          <div class="product-card-content">
            <%= image_tag "https://images.unsplash.com/photo-1515773512591-dfaf9e052325?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80" %>
            <div class="product-card-body">
              <h5><%= product.name %></h5>
              <div class="product-card-details">
                <p><%= product.price %> 💰</p>
                <%= link_to icon('fas', 'calendar-day'), products_path, class:"btn-rent" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
