<div>

  <div class="left-container">

    <div class="image-product">
    </div>

    <div class="info-product">
    </div>

  </div>

  <div class="right-container">

    <div class="schedule-form">
    </div>

  </div>

</div>
